body{
        background-color: #ddf1f1;
}
h1{
        color: #6678BF;
}
h3{
        color: #6678bf;
}
hr{
        border-style: none;
        border-top-style: dotted;
        border-color: grey;
        border-width: 5px;
        width:5%;
}  