.red{
    width:  100px;
    height:  100px;
    background-color: red;
    position: absolute;
    left: 208px;
    top: 208px;
}
.blue{
    width:  100px;
    height:  100px;
    background-color: blue;
    position: absolute;
    left: 108px;
    top: 108px;
}
.yellow{
    width:  100px;
    height:  100px;
    background-color:yellow;
}
