h2{
    color:orange;
}
p{
    color: whitesmoke;
    background-color: black;
}
button{
    color: whitesmoke;
    background-color: blue;
}
h1{
    color: #ffa511;
    font-family: League spartan;
}