h1{
    color: #ffa511;
    font-family: League spartan;
    text-align: center;
    text-size-adjust: 55px;
    font-weight: 900;
    word-spacing: 2px;
    /* line-height: 1.5px; */
    text-decoration: teal double underline;
    text-transform: uppercase;
}